@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, red, rgb(199, 63, 0),orange );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

  
  body {
  margin: 0px;
  font-family: 'Inter';
  }



  form{
    width: 550px;
    height: 420px;
    background: #fff;
    border-radius: 12px;
    padding-left: 50%;
    padding-top: 50%;
    padding: 60px;
    width: min-content;
 
  }

  .txt-cad{
    font-size: 26px;
    margin-bottom: 10%;
    min-width: 280px;
  }

  .input{
    min-width: 300px;
    border-radius: 21px;
    border: 2px black solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
  }

.input input{
  width: 80px;
  border: none;
  width: 250px;
  font-size: 17px;
  outline: none;
}

button{
  width: 190px;
  height: 35px;
  border-radius: 21px;
  color: white;
  background: linear-gradient(90deg, red, rgb(199, 63, 0),orange );
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 17%;
  margin-top: 25px;
}


